container_commands:
  01_fixwrite:
      command: "chmod a+rwx /opt/python/ondeck/app/stardustrun_project/"
  02_generate_settings:
      command: "django-admin.py generate_settings"
      leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: stardustrun_project.settings
