{# variables: pokemon #}
{% load i18n %}
<h3 class="full-pokemon-account team-None">
  <span class="inner">
    <span class="nickname">{% trans 'You' %}</span>
    <span class="level pull-right">Lv. ??</span>
  </span>
</h3>
<div class="full-pokemon-pokedex not-editable-pokedex">
  <div class="row">
    <div class="col-sm-3">
      <img src="{{ pokemon.image_url }}" alt="{% trans pokemon.name %}" class="img-responsive pokemon-image not-seen">
    </div>
    <div class="col-sm-3">
      <span class="pokedex-title">{% trans 'Seen' %}</span>
      <i class="change-seen flaticon-delete"></i>
    </div>
    <div class="col-sm-3">
      <span class="pokedex-title">{% trans 'Caught' %}</span>
      <i class="change-caught flaticon-delete"></i>
    </div>
    <div class="col-sm-3">
      <span class="pokedex-title">{% trans 'Candies' %}</span>
      <span class="total-candies">
	0
      </span><span class="total-candies-image">
	<img src="{{ static_url }}img/candy.png" alt="{% trans 'Candies' %}" class="without-background">
      </span>
    </div>
  </div>
</div>
