{% if user.is_authenticated %}
{% load i18n %}
{% load web_tags %}
<div class="padding50 text-center pokemons-share">
  <h1>{% trans 'Share your pokémons!' %}</h1>

  <a href="{{ 'user'|itemURL:user }}" target="_blank" class="btn btn-main btn-xl">
    {% trans 'Check out your own profile' %}
  </a><br>
  <a href="/settings/" target="_blank" class="btn btn-link btn-lg">
    <i class="flaticon-edit"></i>
    {% trans 'Customize it' %}
  </a>
  <div class="pokemons-share-buttons">
    <p>{% trans 'Share it on:' %}</p>
    {% include 'include/share.html' with share_url='user'|fullItemURL:user share_btn_class='main btn-xl' %}
  </div>
</div>
{% endif %}
