{% load i18n %}
{% if get_started %}
<div class="row">
  <div class="col-md-9">
    <div class="pokemons-get-started">
      <h1>{% trans 'Share your Pokémons!' %}</h1>
      <ol>
	<li>{% trans 'Open Pokémon GO, tap the pokéball at the bottom and tap Pokédex' %}</li>
	<li>{% trans 'Go through the list of pokémons below and click on the ones you have to add them in your Stardust Run collection' %}</li>
      </ol>
      <div class="text-right">
	<a href="#pokemon1" class="btn btn-main btn-xl page-scroll">
	  {% trans 'Get Started' %}
	</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="pokemons-get-started-video pull-right">
      <video width="100%" autoplay="" loop="" poster="{{ static_url }}img/demo.png">
	<source src="{{ static_url }}img/demo.mp4" type="video/mp4">
	  Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
{% endif %}
<script>
  var pokemons_to_reload = [];
  var get_started = {% if get_started %}true{% else %}false{% endif %};
  var pokemon_types_html = {
  '': '<img src="{{ static_url }}img/{{ empty_image }}">',
  {% for type, info in pokemon_types.items %}
  '{{ type }}': '<span class="label label-default" style="background-color: {{ info.color }}">{{ info.name }}</span>',
  {% endfor %}
  };
</script>
