{% load web_tags %}
{% load i18n %}
{% with pokemon=item %}
<div class="padding50 text-center pokemon" id="pokemon{{ pokemon.id }}">
  {% if user.all_accounts %}
  <form method="post" class="pokemon-add-form {% if user.all_accounts|length == 1 or pokemon.owned %}hidden{% endif %}" action="/ajax/add_pokemon/{{ pokemon.id }}/{% if get_started %}?get_started{% endif %}">
    {% csrf_token %}
    <select name="account" class="form-control">
      {% for account in user.all_accounts %}
      <option value="{{ account.id }}">{{ account }}</option>
      {% endfor %}
    </select>
  </form>
  {% endif %}
  <a {% if user.is_authenticated %}
     {% if pokemon.owned %}
     data-ajax-url="{{ 'pokemon'|ajaxItemURL:pokemon }}" data-ajax-title="{% trans pokemon.name %}"
     href="{{ 'pokemon'|itemURL:pokemon }}"
     {% elif not user.all_accounts %}
     href="/accounts/add/?next={{ 'pokemon'|itemURL:pokemon }}"
     {% else %}
     href="#addPokemon"
     data-item-url="{{ 'pokemon'|itemURL:pokemon }}"
     data-item-ajax-url="{{ 'pokemon'|ajaxItemURL:pokemon }}"
     data-item-ajax-title="{% trans pokemon.name %}"
     {% endif %}
     {% else %}
     href="/signup/?next={{ 'pokemon'|itemURL:pokemon }}"
     {% endif %}
     {% if not pokemon.owned %}
     data-toggle="popover" data-placement="top" data-trigger="hover" data-delay="{'show':200,'hide':1}" data-html="true"
     data-content="<div class='text-center'>{% blocktrans %}Click to add {{ pokemon }} to your collection{% endblocktrans %}</div>"
     {% endif %}
     class="pokemon-link {% if pokemon.seen %}pokemon-seen{% endif %} a-nodifference">
    <img src="{{ pokemon.image|imageURL }}" alt="{% trans pokemon.name %}" class="img-responsive pokemon-image">
    <span class="add-button">
      <i class="flaticon-loading" style="display: none;"></i>
      {% if not pokemon.owned %}
      <i class="flaticon-add"></i>
      {% elif pokemon.owned == 1 %}
      <i class="flaticon-checked"></i>
      {% else %}
      <span class="multiply">x{{ pokemon.owned }}</span>
      {% endif %}
    </span>
  </a>
  <br>
  <a data-ajax-url="{{ 'pokemon'|ajaxItemURL:pokemon }}" data-ajax-title="{% trans pokemon.name %}" href="{{ 'pokemon'|itemURL:pokemon }}" class="a-nodifference">
    <h4><span class="pokemon-number">#{{ pokemon.id }}</span>&nbsp;{% trans pokemon.name %}&nbsp;<i class="flaticon-about"></i></h4>
  </a>
  {% if user.is_staff %}
  <a href="/pokemons/edit/{{ pokemon.id }}/">{% trans 'Edit' %} {% trans 'Pokémon' %}</a>
  {% endif %}
  {% if type %}
  {% for type, data in pokemon.types_data.items %}
  <a href="/pokemons/?type={{ type }}" class="label label-default" style="background-color: {{ data.color }}" target="_blank">{{ data.name }}</a>
  {% endfor %}
  {% endif %}
  {% if ordering %}
  {% if ordering == 'max_cp' %}
  <ul class="list-group">
    <li class="list-group-item"><strong>{% trans 'Max CP' %} </strong><span class="pull-right">{{ pokemon.max_cp }}</span></li>
  </ul>
  {% elif ordering == 'hit_points' %}
  <ul class="list-group">
    <li class="list-group-item"><strong>{% trans 'Hit Points' %} </strong><span class="pull-right">{{ pokemon.hit_points }}</span></li>
  </ul>
  {% elif ordering == 'attack' %}
  <ul class="list-group">
    <li class="list-group-item"><strong>{% trans 'Attack' %} </strong><span class="pull-right">{{ pokemon.attack }}</span></li>
  </ul>
  {% elif ordering == 'defense' %}
  <ul class="list-group">
    <li class="list-group-item"><strong>{% trans 'Defense' %} </strong><span class="pull-right">{{ pokemon.defense }}</span></li>
  </ul>
  {% elif ordering == 'catch_rate' %}
  <ul class="list-group">
    <li class="list-group-item"><strong>{% trans 'Catch Rate' %} </strong><span class="pull-right">{{ pokemon.catch_rate }}%</span></li>
  </ul>
  {% elif ordering == 'flee_rate' %}
  <ul class="list-group">
    <li class="list-group-item"><strong>{% trans 'Flee Rate' %} </strong><span class="pull-right">{{ pokemon.flee_rate }}%</span></li>
  </ul>
  {% elif ordering == 'evolution_candies' %}
  <ul class="list-group">
    <li class="list-group-item"><strong>{% trans 'Candies needed to evolve' %} </strong><span class="pull-right">{{ pokemon.evolution_candies }}</span></li>
  </ul>
  {% elif ordering == 'egg_distance' %}
  <ul class="list-group">
    <li class="list-group-item"><strong>{% trans 'Egg Distance' %} </strong><span class="pull-right">{{ pokemon.egg_distance }}km</span></li>
  </ul>
  {% endif %}
  {% endif %}
</div>
{% endwith %}
